[submodule "bomay"]
	path = LocalTerra.columbus-5
	url = https://github.com/terra-money/LocalTerra
[submodule "columbus"]
	path = LocalTerra.columbus-4
	url = https://github.com/terra-money/LocalTerra
	branch = v0.4.1
